:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;

  }
  
  .btn--outline {
    background-color: #FF452B;
    color: #fff;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover{
    transition: all 0.3s ease-out;
    background: rgb(178, 48, 30);
    transition: 250ms;
    color:white;
  }